@model ML.Usuario
@{
    ViewBag.Title = "CambiarPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Cambiar Password</h2>
</br>
<h5 class="text-center text-info">Ingrese la nueva contraseña para la cuenta.</h5>
</br></br>

@using (Html.BeginForm("CambiarPassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.UserName, new { @class = "hidden" })
                @Html.TextBoxFor(model => model.UserName, new { @class = "hidden ", autocomplete = "off" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-lg-offset-5">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtPassword", autocomplete = "off", placeholder = "Nueva contraseña" })
            </div>
            <br><br><br>
            <div class="form-group">
                <div class="col-md-2 col-lg-offset-5">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtPasswordConfirmar", @onblur = "return CompararPassword(this)", autocomplete = "off", placeholder = "Confirma la contraseña" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger", @id = "lblErrorPassword" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-5">
                <input type="submit" value="Actualizar" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Login", "Login", htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>

}
<script type="text/javascript">

    function CompararPassword() {
        var txtPassword = $("#txtPassword");
        var txtPasswordConfirmar = $("#txtPasswordConfirmar");
        if (txtPassword.val() == txtPasswordConfirmar.val()) {

            $('#txtPasswordConfirmar').css('border-color', 'green');
        }
        else {
            $('#txtPasswordConfirmar').css('border-color', 'red');
            $("#lblErrorPassword").text('La contraseña no coincide');

        }
    }
</script>
