@Model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";       
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Usuarios</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Seleccione agregar para registrar un Usuario</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("Agregar", "UsuarioAddSP", "Usuario", htmlAttributes: new { @class = "btn btn.success" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>Editar</td>
                        <td class="hidden">IdUsuario</td>
                        <td>UserName</td>
                        <td>Nombre</td>
                        <td>ApellidoPaterno</td>
                        <td>ApellidoMaterno</td>
                        <td>Email</td>
                        <td>Sexo</td>
                        <td>Telefono</td>
                        <td>Celular</td>
                        <td>FechaNacimiento</td>
                        <td>CURP</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Usuario usuario in Model.Usuarios)
                    {
                        <tr>
                            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("GetAllSP", "Usuario", new { IdUsuario = usuario.IdUsuario })"></a></td>
                            <td class="hidden">@usuario.IdUsuario</td>
                            <td>@usuario.UserName</td>
                            <td>@usuario.Nombre</td>
                            <td>@usuario.ApellidoPaterno</td>
                            <td>@usuario.ApellidoMaterno</td>
                            <td>@usuario.Email</td>
                            <td>@usuario.Sexo</td>
                            <td>@usuario.Telefono</td>
                            <td>@usuario.Celular</td>
                            <td>@usuario.FechaNacimiento</td>
                            <td>@usuario.Curp</td>
                            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("DeleteSP", "Usuario", new { IdUsario= usuario.IdUsuario})" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"></a></td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>

    </div>
</div>
































        @*@{
                ViewBag.Title = "GetAll";
                Layout = "~/Views/Shared/_Layout.cshtml";
            }

            <h2>GetAll</h2>*@
